<a href="https://colab.research.google.com/github/hkyoo52/CV/blob/code/Pythonic_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### split, join

* 문자열.split() : 코드를 쪼갬 (문자열->리스트)

* 표시.join(리스트) : 코드를 합침 (리스트->문자열)

In [ ]:
example='zero one two three'.split()
print(example)
example2='python, java, javascript'.split(',')
print(example2)

['zero', 'one', 'two', 'three']
['python', ' java', ' javascript']

In [ ]:
colors=['red','blue','green','yellow']
'-'.join(colors)

'red-blue-green-yellow'

### list comprehension
* 기존 리스트를 사용하여 간단히 다른 리스트 만듬
* for, append 보다 빠름

In [ ]:
# 2중 반복문
result=[i+j for i in range(10) for j in (10,20)]
print(result)

[10, 20, 11, 21, 12, 22, 13, 23, 14, 24, 15, 25, 16, 26, 17, 27, 18, 28, 19, 29]

In [ ]:
# filter 존재 (뒤에 if 문이 존재)
case1=['A','B','C']
case2=['D','E','F']
result=[i+j for i in case1 for j in case2 if i != j]
print(result)

['AD', 'AE', 'AF', 'BD', 'BE', 'BF', 'CD', 'CE', 'CF']

In [ ]:
# 여러개 리스트 생성
import pprint

words='The quick brown fox jumps over the lazy dog'.split()
print(words)
stuff=[[w.upper(),w.lower(),len(w)] for w in words]
#리스트 하나 쓰면 한칸 내려서 출력 (예쁘게 이미지 생성)
pprint.pprint(stuff)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [ ]:
# 2차원 리스트 생성
case1=['A','B','C']
case2=['D','E','F']
result=[[i+j for i in case1] for j in case2]
print(result)

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AF', 'BF', 'CF']]

### enumerate & zip
* enumerate : index와 value 같이 출력
* zip : 2개의 리스트의 값을 병렬적으로 추출

In [ ]:
# enumerate
my_str='ABCD'
{v : i for i,v in enumerate(my_str)}

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [ ]:
# zip
alist=['a1','a2','a3']
blist=['b1','b2','b3']
for a, b in zip(alist,blist):
  print(a,b)

a1 b1
a2 b2
a3 b3

In [ ]:
# enumerate + zip
alist=['a1','a2','a3']
blist=['b1','b2','b3']
list(enumerate(zip(alist,blist)))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]

### lambda & map & reduce
* lambda : 함수 이름없이 함수 사용
* map : 각각의 원소에 함수 적용, if filter 사용 O, 마지막에 list에 적용
* reduce : 각각에 원소에 함수 적용해서 통합

In [ ]:
# lambda
(lambda x,y : x+y)(10,50)

60

In [ ]:
# map 
ex=[1,2,3,4,5]
f=lambda x:x**2
list(map(f,ex))

[1, 4, 9, 16, 25]

In [ ]:
# reduce

from functools import reduce

ex=[1,2,3,4,5]
f=lambda x,y : x+y
reduce(f,ex)

15

### iterable object
* iterable object : sequence 데이터
* iter(), next() 함수로 iterable object 정보 사용

In [ ]:
cities=['Seoul','Busan','Jeju']
memory_address=iter(cities)     # 메모리 addres
print(memory_address)
for i in range(len(cities)):
  print(next(memory_address))    # 메모리 address에 있는 정보 하나씩 순서대로 꺼냄

<list_iterator object at 0x7fdad7ef1210>
Seoul
Busan
Jeju

### Generator
쓰는 이유 : 실제로 데이터를 넣는 것이 아니라 메모리 창만 저장을 한다. 
=> 메모리를 효과적으로 아낄 수 있다.

* iterable object : 특수한 형태로 사용하는 함수
* element가 사용되는 시점에 값을 메모리에 반환
* yield를 사용해서 하나의 element만 반환

In [ ]:
def general_list(value):
  result=[i for i in range(value)]
  return result

In [ ]:
import sys
result=general_list(50)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [ ]:
gen_ex=(n*n for n in range(500))
print(gen_ex)

<generator object <genexpr> at 0x7f49715eaf50>

### Argument
1. Keyword argument
2. Default argument
3. Variable length argument - * 사용해서 함수의 parameter 표현

  반드시 keyword argument는 뒤에 써야한다!!!

In [ ]:
# variable Length argument

def asterist_test(a,b,*args):
  print(args)
  return

print(asterist_test(1,2,(3,4,5)))
print(asterist_test(1,2,*(3,4,5)))    # *를 붙이면 tuple이나 list가 풀어서 들어가게됨

((3, 4, 5),)
None
(3, 4, 5)
None